body {
  background-color: #9FC088;
}

h1 {
  color: #CC704B;
}

h3 {
  color: #CC704B;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
